In [81]:
import pandas as pd
import numpy as np

## Reading csv file

In [82]:
uu = '/home/kishor/Downloads/Automatic email content store.csv'
dataset = pd.read_csv(uu, sep='$')

## Separated by $

In [83]:
dataset.head()

       Date                              to                            raw
0  30/09/17       shubhi.prakash03@gmail.com  will be doing it by tomorrow
1  30/09/17  exampreparationonline@gmail.com  will be doing it by tomorrow
2  30/09/17  exampreparationonline@gmail.com  will be doing it by tomorrow
3  30/09/17       shubhi.prakash03@gmail.com  will be doing it by tomorrow
4  30/09/17       shubhi.prakash03@gmail.com  will be doing it by tomorrow

## Unique mails

In [84]:
unique_mails = dataset['to '].unique()
unique_mails

array(['shubhi.prakash03@gmail.com', 'exampreparationonline@gmail.com',
       'nidhisaini05@gmail.com', 'chowdhuryshaif@rediffmail.com',
       'abhishekguragol@gmail.com', 'sonuyannam@gmail.com',
       'sachinsn231@gmail.com', 'limithakeerthi@gmail.com',
       'ramthakkar07@gmail.com', 'pavithramurugan22@gmail.com',
       'saha.swapankumar1@gmail.com'], dtype=object)

In [85]:
unique_raw = dataset['raw'].unique()
unique_raw

array(['will be doing it by tomorrow', 'try to submit it with details',
       'can u tell me the details?', 'when is the deadline?'],
      dtype=object)

In [86]:
unique_dates = dataset['Date'].unique()
unique_dates
#last_date = dataset['Date'].min()

array(['30/09/17', '01/10/17', '1 Oct 2017 19:25:52 -0000', '02/10/17',
       '03/10/17', '04/10/17'], dtype=object)

In [87]:
most = np.delete(unique_dates, 2, axis=0)

### unique_dates.latest()

In [90]:
from datetime import datetime

In [91]:
updated = dataset.drop(22)

In [92]:
updated['Date'].head()

0    30/09/17
1    30/09/17
2    30/09/17
3    30/09/17
4    30/09/17
Name: Date, dtype: object

In [93]:
new = pd.to_datetime(updated['Date'], infer_datetime_format=True)

In [94]:
new.head()

0   2017-09-30
1   2017-09-30
2   2017-09-30
3   2017-09-30
4   2017-09-30
Name: Date, dtype: datetime64[ns]

In [97]:
lasts = min(new)
#type(lasts)
lasts = pd.to_datetime(lasts, infer_datetime_format=True)
type(lasts)

pandas._libs.tslib.Timestamp

In [98]:
lasts = datetime.strftime(lasts, "%d/%m/%Y")

## Function to count number of days elapsed

In [99]:
now = datetime.now().strftime("%d/%m/%Y")
type(now)

str

In [100]:
def difference(d1 , d2):
    d1 = datetime.strptime(d1, "%d/%m/%Y")
    d2 = datetime.strptime(d2, "%m/%d/%Y")
    return abs((d1 - d2).days)

In [101]:
print(difference(now, lasts))

251

## Finding words and storing to other new collumn

In [102]:
import csv 

csv_out = open('/home/kishor/Desktop/Automatic email content store.csv', mode='w') #opens csv file
reader = csv.reader(csv_out) #create the csv writer object

fields = ['new'] #field names
writers.writerow(fields) #writes field


def storing(searching, data):
    for raw in data:
        st = raw.split()
        for serch in searching:
            for t in st:
                if t==serch:
                    writer.writerow(serch)